{% extends "OptionsTechnikaApp/base.html" %}
{% load static %}
{% block head_title %}Courses Offered | IBM{% endblock head_title %}
{% block css-add %}<link href="{% static 'css/courses.css' %}" rel="stylesheet" />{% endblock css-add %}
{% block content %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="pageTitle">Courses Offered</h1>
			</div>
		</div>
	</div>
	</section>
	<div class="container-fluid">
	<div class="container">
		<br><br>
					<div class="panel panel-default">
							<div class="panel-body">
									<div class="col-md-2"><img src="{% static 'images/courses/python_using_web.jpg' %}" width="150" height="100"></div>
									<div class="col-md-8">
											<p id="font5">Python using Web Development</p>
											<p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
									</div>
									<div class="col-md-2">
											<button type="button" class="btn btn-secondary" id="aply"><a href="/details" style="color:white;">Details</a></button>
									</div>
							</div>
					</div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/data_analytics.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Data Analytics</p>
                        <p id="font6">Proficient with ES6 and React.js. Must have a solid understanding of Redux. Should be able to build reusable  components using states and props.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/data_science.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Data Science</p>
                        <p id="font6">Design and build applications for the iOS platform. Proficient with Swift. Ensure the performance, quality, and responsiveness of applications. Identify and correct bottlenecks and fix bugs.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/iot.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Internet of Things</p>
                        <p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/ml&ai.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Artificial Intelligence & Machine Learning</p>
                        <p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                	<div class="col-md-2"><img src="{% static 'images/courses/dotnet.png' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Dot Net</p>
                        <p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/php.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">PHP</p>
                        <p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/java2.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Java using Web Development</p>
                        <p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/android.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Android Application Development</p>
                        <p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-2"><img src="{% static 'images/courses/hardware.jpg' %}" width="150" height="100"></div>
                    <div class="col-md-8">
                        <p id="font5">Hardware & Networking</p>
                        <p id="font6">Apply knowledge of UI design to develop mock-ups, new interaction models, and navigation schemes. Develop pixel perfect comps and assets for all projects.</p>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-secondary" id="aply">Details</button>
                    </div>
                </div>
            </div>
	</div>
</div>
{% endblock content %}
