{% extends "OptionsTechnikaApp/base.html" %}
{% load static %}
{% block head_title %}About Us | Options Technika{% endblock head_title %}
{% block content %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="pageTitle">About Us</h1>
			</div>
		</div>
	</div>
	</section>
	<section id="content">
	<div class="container">
					<div class="about">

						<div class="row">
							<div class="col-md-12">
								<div class="about-logo">
									<h3>We are awesome <span class="color">TEAM</span></h3>
									<p>Option Technica co-creates technology- and business-based undergraduate and graduate degrees in collaboration with leading universities and engineering colleges around the globe.  By working with educators and other tech industry leaders, we prepare students to excel in the latest technology industry developments, including: AI, blockchain cybersecurity tools, cloud and hybrid multiclouds.</p>
                                    	<p></p>
								</div>
								<a href="/team" class="btn btn-color">Read more</a>
							</div>
						</div>
						<br>

						 <div class="row">
							<div class="col-md-6">
								<img src="{% static 'images/section-image-1.png' %}" alt="">
							</div>
							<div class="col-md-6">
								<p><div class="block-heading-two">
									<h3><span>About Our Program</span></h3>
								</div>

In this fast-changing world, new skills are becoming mission-critical for the success of organizations. Talent aligned to today’s technological realities is in short supply, creating a barrier for growth. Industries need specialists in newer skill sets who can analyze the vast amount of data being generated and utilize this information to shape an organization’s strategy and success.<br/>

The IBM Innovation Center for Education is offering three program engagement models for students in universities and engineering colleges. Together with leading universities the world over, it is putting forward a series of Bachelor of Technology (B. Tech) in Computer Science and Engineering (CSE) or Information Technology (IT) programs, as well as MBA programs.

<br/>It is a whole new way of thinking, and a cutting-edge approach to technology training.</p>

							</div>
						</div>

						<hr>

						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-4">
								<!-- Heading and para -->
								<div class="block-heading-two">
									<h3><span>Why Choose Us?</span></h3>
								</div>
								<p>At IBM, work is more than a job—it's a calling. To build. To design. To code. To consult. To think along with clients and sell. To make markets. To invent. To collaborate.
 <br/><br/>Not just to do something better, but to attempt things you've never thought possible. To lead in this new era of technology and solve some of the world's most challenging problems.
Let's put smart to work.</p>
							</div>
							<div class="col-md-1"></div>
							<div class="col-md-5">
								<div class="block-heading-two">
									<h3><span>Specializations in the IBM Certificate in Advanced Technologies include:</span></h3>
								</div>
								<!-- Accordion starts -->
								<div class="panel-group" id="accordion-alt3">
								 <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
								  <div class="panel">
									<!-- Panel heading -->
									 <div class="panel-heading"><center>
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
											<i class="fa fa-angle-right"></i> <span style="color:gray;"> Data Science</span>
										  </a>
										</h4></center>
									 </div>
									 <div id="collapseOne-alt3" class="panel-collapse collapse">
										<!-- Panel body -->
										<div class="panel-body">
										  Data Science is the future of Artificial Intelligence. Therefore, it is very important to understand what is Data Science and how can it add value to your business.
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading"><center>
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
											<i class="fa fa-angle-right"></i><span style="color:gray;">  Internet Of Things </span>
										  </a>
										</h4></center>
									 </div>
									 <div id="collapseTwo-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  The Internet of Things, or IoT, refers to the billions of physical devices around the world that are now connected to the internet, collecting and sharing data.
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading"><center>
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
											<i class="fa fa-angle-right"></i><span style="color:gray;">  Blockchain </span>
										  </a>
										</h4></center>
									 </div>
									 <div id="collapseThree-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  A blockchain is, in the simplest of terms, a time-stamped series of immutable records of data that is managed by a cluster of computers not owned by any single entity.
										</div>
									 </div>
								  </div>
								  <div class="panel">
									 <div class="panel-heading"><center>
										<h4 class="panel-title">
										  <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
											<i class="fa fa-angle-right"></i><span style="color:gray;"> Machine Learning </span>
										  </a>
										</h4></center> 
									 </div>
									 <div id="collapseFour-alt3" class="panel-collapse collapse">
										<div class="panel-body">
										  Machine learning focuses on the development of computer programs that can access data and use it learn for themselves
										</div>
									 </div>
								  </div>
								</div>
								<!-- Accordion ends -->

							</div>
							<br>

							</div>

						</div>



						<br>



					</div>
	</section>
{% endblock content %}
