{% extends "OptionsTechnikaApp/base.html" %}
{% load static %}
{% block head_title %}Our Team | Options Technika{% endblock head_title %}
{% block css-add %}
<link href="{% static 'css/team.css' %}" rel="stylesheet" />
{% endblock css-add %}
    {% block content %}
<section id="inner-headline">
  <div class="container">
    <div class="row">
        <h1 class="pageTitle">Our Team</h1>
  </div>
  </section>

  <div class="container-fluid">
    <div class="container">
  <div class="row">
    <nav class="col-sm-3" id="myScrollspy">
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#ibm">IBM</a></li>
        <li><a href="#ap_edu">Aptech Education</a></li>
        <li><a href="#ap_avi">Aptech Aviation</a></li>
        <li><a href="#maac">MAAC</a></li>
      </ul>
    </nav>
    <div class="col-sm-9">
      <div id="ibm">
        <h1 class="pageTitle">IBM</h1><br><br>
        <ul id="categories" class="clr">

  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>Name of Employee</h1>
        <p>Contact Details of Employee</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li class="pusher"></li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>

  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li class="pusher"></li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>








</ul>
      </div><br><br>
      <div id="ap_edu">
        <h1 class="pageTitle">Aptech Education</h1><br><br><br>
                <ul id="categories" class="clr">

  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li class="pusher"></li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>

  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li class="pusher"></li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>
  <li>
      <div>
        <img src="https://farm8.staticflickr.com/7187/6895047173_d4b1a0d798.jpg" alt=""/>
        <h1>This is a title</h1>
        <p>Some sample text about the article this hexagon leads to</p>
    </div>
  </li>







</ul>
      </div>
      <div id="ap_avi">
        <h1 class="pageTitle">Aptech Aviation</h1><br><br>
        <p>Will be updated soon...</p>
      </div>
      <div id="maac">
        <h1 class="pageTitle">MAAC</h1><br><br>
        <p>Will be updated soon...</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
